* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.wrapper__main .row__info--upper, .wrapper__main .row__info--mid, .wrapper__main .row__info--down {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 35px;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__main .row__info--upper, .wrapper__main .row__info--mid, .wrapper__main .row__info--down {
    width: 100%;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .row__info--upper, .wrapper__main .row__info--mid, .wrapper__main .row__info--down {
    width: 100%;
  }
}

.wrapper__main .row__info--upper .__content, .wrapper__main .row__info--mid .__content, .wrapper__main .row__info--down .__content {
  width: 48%;
  color: #333;
  text-align: center;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__main .row__info--upper .__content, .wrapper__main .row__info--mid .__content, .wrapper__main .row__info--down .__content {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .row__info--upper .__content, .wrapper__main .row__info--mid .__content, .wrapper__main .row__info--down .__content {
    width: 100%;
    margin-bottom: 50px;
  }
}

.wrapper__main .row__info--upper .__content .title, .wrapper__main .row__info--mid .__content .title, .wrapper__main .row__info--down .__content .title {
  font-size: calc(16px + 3vmin);
  font-family: "Dancing Script", sans-serif;
}

.wrapper__main .row__info--upper .__content p, .wrapper__main .row__info--mid .__content p, .wrapper__main .row__info--down .__content p {
  font-size: calc(12px + 0.5vmin);
  margin-top: 5px;
}

.wrapper__main .row__info--upper .__content .push--more, .wrapper__main .row__info--mid .__content .push--more, .wrapper__main .row__info--down .__content .push--more {
  display: inline-block;
  margin-top: 15px;
  background-color: #352724;
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
  padding: 5px 10px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper__main .row__info--upper .__content .push--more:hover, .wrapper__main .row__info--mid .__content .push--more:hover, .wrapper__main .row__info--down .__content .push--more:hover {
  background-color: #e45604;
}

.wrapper__main .row__info--upper .__images, .wrapper__main .row__info--mid .__images, .wrapper__main .row__info--down .__images {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__main .row__info--upper .__images, .wrapper__main .row__info--mid .__images, .wrapper__main .row__info--down .__images {
    width: 100%;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .row__info--upper .__images, .wrapper__main .row__info--mid .__images, .wrapper__main .row__info--down .__images {
    width: 100%;
  }
}

.wrapper__main .row__info--upper .__images a, .wrapper__main .row__info--mid .__images a, .wrapper__main .row__info--down .__images a {
  max-width: 255px;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__main .row__info--upper .__images a, .wrapper__main .row__info--mid .__images a, .wrapper__main .row__info--down .__images a {
    max-width: 100%;
  }
  .wrapper__main .row__info--upper .__images a:first-child, .wrapper__main .row__info--mid .__images a:first-child, .wrapper__main .row__info--down .__images a:first-child {
    margin-bottom: 50px;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .row__info--upper .__images a, .wrapper__main .row__info--mid .__images a, .wrapper__main .row__info--down .__images a {
    max-width: 100%;
  }
  .wrapper__main .row__info--upper .__images a:first-child, .wrapper__main .row__info--mid .__images a:first-child, .wrapper__main .row__info--down .__images a:first-child {
    margin-bottom: 50px;
  }
}

.wrapper__main .row__products, .wrapper__main .row__contact {
  width: 100%;
  height: 250px;
  margin-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__main .row__products .content, .wrapper__main .row__contact .content {
  text-align: center;
  background-image: url(../images/vien.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper__main .row__products .content h2, .wrapper__main .row__contact .content h2 {
  font-size: calc(16px + 3vmin);
  color: #fff;
  font-weight: 300;
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub .span-sub, .wrapper__main .nav__mobile .menu-main .item-main .span-main {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 50px;
  text-align: center;
  border-left: 1px solid #fff;
  font-size: 25px;
}

.wrapper__header {
  width: 100%;
  height: 80vh;
  background-image: url(../images/holiday2013_front.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-top: 35px;
}

.wrapper__header .row__menu {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__header .row__menu {
    width: 100%;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__header .row__menu {
    width: 100%;
  }
}

.wrapper__header .row__menu .logo {
  width: 200px;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__header .row__menu .logo {
    margin: auto;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__header .row__menu .logo {
    margin: auto;
  }
}

.wrapper__header .row__menu .logo img {
  width: 100%;
}

.wrapper__header .row__menu .menu {
  width: 80%;
  text-align: right;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__header .row__menu .menu {
    display: none;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__header .row__menu .menu {
    display: none;
  }
}

.wrapper__header .row__menu .menu ul li {
  display: inline-block;
  margin-left: 50px;
  line-height: 50px;
}

.wrapper__header .row__menu .menu ul li a {
  font-size: calc(16px + 0.5vmin);
  color: #fff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-weight: bold;
}

.wrapper__header .row__menu .menu ul li a:hover {
  color: #e45604;
}

.wrapper__header .row__menu .menu ul li:first-child {
  margin-left: 0;
}

.wrapper__header .row__content {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #fff;
  text-align: center;
}

.wrapper__header .row__content h2 {
  font-size: 50px;
  font-family: "Dancing Script", sans-serif;
}

.wrapper__header .row__content h1 {
  font-size: calc(16px + 4vmin);
  margin-top: 5px;
  font-weight: 400;
}

.wrapper__header .row__content h5 {
  font-size: calc(12px + 0.8vmin);
  margin-top: 15px;
}

.wrapper__header .row__content a {
  display: inline-block;
  margin-top: 20px;
  color: #333;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper__header .row__content a:hover {
  background-color: #e45604;
  color: #fff;
}

.wrapper__main {
  width: 100%;
}

.wrapper__main .nav__mobile {
  width: 100%;
  background-color: #1a3a6b;
  color: #fff;
  display: none;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__main .nav__mobile {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .wrapper__main .nav__mobile .scroll-line {
    width: 75px;
    height: 0;
    border-top: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.wrapper__main .nav__mobile .icon--bar {
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 55px;
  cursor: pointer;
}

.wrapper__main .nav__mobile .icon--bar .btn-show {
  line-height: 55px;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .icon--bar {
    display: none;
  }
}

.wrapper__main .nav__mobile .menu-main {
  display: none;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main {
    display: block;
    line-height: 50px;
  }
}

.wrapper__main .nav__mobile .menu-main .item-main {
  line-height: 50px;
  cursor: pointer;
  border-top: 1px solid #fff;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main {
    border: none;
  }
}

.wrapper__main .nav__mobile .menu-main .item-main a {
  padding: 0 15px;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main a {
    font-size: calc(12px + 0.5vmin);
  }
}

.wrapper__main .nav__mobile .menu-main .item-main i {
  display: none;
  font-size: 12px;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main i {
    display: inline-block;
  }
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub {
  display: none;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub {
    display: block;
    width: 150px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub {
  line-height: 50px;
  cursor: pointer;
  border-top: 1px solid #fff;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub {
    border: none;
    line-height: 40px;
  }
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub:first-child {
    border-bottom: 1px solid #fff;
  }
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub a {
  padding: 0 30px;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub a {
    padding-left: 15px;
    color: #fff;
  }
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub ul {
  display: none;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub ul {
    width: 150px;
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #333;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub ul li {
  line-height: 50px;
  cursor: pointer;
  border-top: 1px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub ul li {
    border: none;
    line-height: 40px;
  }
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub ul li:first-child {
    border-bottom: 1px solid #fff;
  }
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub ul li a {
  padding: 0 45px;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub ul li a {
    padding-left: 15px;
    color: #fff;
  }
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub ul li:hover {
  color: #e45604;
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub ul.active1 {
  display: block;
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub .span-sub:before {
  content: "+";
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub .span-sub.activeSpan1:before {
  content: "-";
  font-size: 35px;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub .span-sub {
    display: none;
  }
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub:hover {
    color: #e45604;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main .menu-sub .item-sub:hover ul {
    visibility: inherit;
    opacity: 1;
  }
}

.wrapper__main .nav__mobile .menu-main .item-main .menu-sub.active {
  display: block;
}

.wrapper__main .nav__mobile .menu-main .item-main .span-main:before {
  content: "+";
}

.wrapper__main .nav__mobile .menu-main .item-main .span-main.activeSpan:before {
  content: "-";
  font-size: 35px;
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main .span-main {
    display: none;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main {
    display: inline-block;
  }
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__main .nav__mobile .menu-main .item-main:hover {
    color: #e45604;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .nav__mobile .menu-main .item-main:hover {
    background-color: #333;
  }
  .wrapper__main .nav__mobile .menu-main .item-main:hover .menu-sub {
    visibility: inherit;
    opacity: 1;
  }
}

.wrapper__main .nav__mobile .menu-main.active-menu {
  display: block;
}

.wrapper__main .row__products {
  background-image: url(../images/three-col-1.jpg);
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__main .row__info--mid .__content {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .row__info--mid .__content {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

.wrapper__main .row__info--mid .__images {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__main .row__info--mid .__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__main .row__info--mid .__images {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.wrapper__main .row__contact {
  background-image: url(../images/frontpage-menu.jpg);
}

.wrapper__footer {
  width: 100%;
  text-align: center;
  background-color: #352724;
  margin-top: 50px;
  padding: 30px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper__footer .f__content {
  width: 1200px;
  margin: auto;
  color: #fff;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__footer .f__content {
    width: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__footer .f__content {
    width: 100%;
    padding: 0 15px;
  }
}

.wrapper__footer .f__content .image {
  width: 200px;
  margin: auto;
}

.wrapper__footer .f__content .text--footer {
  font-size: calc(12px + 0.3vmin);
  margin-top: 10px;
}

.wrapper__footer .f__content .contact {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: calc(12px + 0.3vmin);
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__footer .f__content .contact {
    width: 100%;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__footer .f__content .contact {
    width: 100%;
  }
}

.wrapper__footer .f__content .contact .add {
  width: 50%;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__footer .f__content .contact .add {
    width: 100%;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__footer .f__content .contact .add {
    width: 100%;
  }
}

.wrapper__footer .f__content .contact .add i {
  margin-right: 10px;
}

.wrapper__footer .f__content .contact .phone {
  width: 25%;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__footer .f__content .contact .phone {
    width: 100%;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__footer .f__content .contact .phone {
    width: 100%;
  }
}

.wrapper__footer .f__content .contact .phone i {
  margin-right: 10px;
}

.wrapper__footer .f__content .contact .mail {
  width: 25%;
}

@media (min-width: 0) and (max-width: 512px) {
  .wrapper__footer .f__content .contact .mail {
    width: 100%;
  }
}

@media (min-width: 512px) and (max-width: 812px) {
  .wrapper__footer .f__content .contact .mail {
    width: 100%;
  }
}

.wrapper__footer .f__content .contact .mail i {
  margin-right: 10px;
}

.wrapper__footer .f__content .social a {
  margin: 10px 5px;
  color: #fff;
}

.wrapper__footer .f__content .social a:hover {
  color: #e45604;
}

.wrapper__footer .f__content p {
  font-size: calc(12px + 0.3vmin);
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal .slide-images {
  max-width: 400px;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal .slide-images .btn-close {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: -25px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  background-color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal.active {
  display: block;
}
/*# sourceMappingURL=style.css.map */