* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: #414141;
}

html::-webkit-scrollbar-thumb {
  background-color: aqua;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px #121618;
          box-shadow: 0 0 5px #121618;
}

body {
  font-family: "Dancing Script", cursive;
  font-family: "Pacifico", cursive;
  font-family: roboto, sans-serif;
}

ul {
  list-style: none;
}

a,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper__all .wrapper__header .header__content, .wrapper__all .wrapper__main .about-us .about__content, .wrapper__all .wrapper__main .prodducts-us .product-items, .wrapper__all .wrapper__main .ads .ads__content, .wrapper__all .wrapper__main .customer .custommer__content, .wrapper__all .wrapper__footer .footer__content {
  width: 90%;
  max-width: 1130px;
  margin: auto;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__header .header__content, .wrapper__all .wrapper__main .about-us .about__content, .wrapper__all .wrapper__main .prodducts-us .product-items, .wrapper__all .wrapper__main .ads .ads__content, .wrapper__all .wrapper__main .customer .custommer__content, .wrapper__all .wrapper__footer .footer__content {
    width: 100%;
  }
}

.wrapper__all .wrapper__main .prodducts-us .title, .wrapper__all .wrapper__main .ads .ads__content .content .title, .wrapper__all .wrapper__main .customer .title {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__all .wrapper__main .prodducts-us .title img, .wrapper__all .wrapper__main .ads .ads__content .content .title img, .wrapper__all .wrapper__main .customer .title img {
  width: 50px;
  display: inline-block;
}

.wrapper__all .wrapper__main .prodducts-us .title h2, .wrapper__all .wrapper__main .ads .ads__content .content .title h2, .wrapper__all .wrapper__main .customer .title h2 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  padding: 0 10px;
}

.wrapper__all {
  width: 100%;
  background: #fff;
}

.wrapper__all .wrapper__header {
  width: 100%;
  background-color: #121618;
  position: fixed;
  top: 0;
  z-index: 5;
}

.wrapper__all .wrapper__header .header__content {
  padding: 15px 0 10px 0;
}

.wrapper__all .wrapper__header .header__content .header__up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__header .header__content .header__up {
    padding: 0 15px;
  }
}

.wrapper__all .wrapper__header .header__content .header__up .__mobile {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__header .header__content .header__up .__mobile {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.wrapper__all .wrapper__header .header__content .header__up .__mobile img {
  width: 30px;
  margin: auto;
  cursor: pointer;
}

.wrapper__all .wrapper__header .header__content .header__up .__mobile span {
  width: calc(100% - 30px);
  padding-left: 20px;
  color: #fff;
  font-size: 16px;
}

.wrapper__all .wrapper__header .header__content .header__up .__logo {
  width: 25%;
  margin: auto;
  text-align: center;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__header .header__content .header__up .__logo {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }
}

.wrapper__all .wrapper__header .header__content .header__up .__cart {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__header .header__content .header__up .__cart {
    width: 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.wrapper__all .wrapper__header .header__content .header__up .__cart img {
  width: 30px;
  margin: auto;
  cursor: pointer;
}

.wrapper__all .wrapper__header .header__content .header__up .__cart a {
  width: calc(100% - 30px);
  text-align: right;
  padding-right: 20px;
  color: #fff;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper__all .wrapper__header .menu {
  width: 100%;
  line-height: 50px;
  text-align: center;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__header .menu {
    display: none;
  }
}

.wrapper__all .wrapper__header .menu ul .item--menu {
  display: inline-block;
  line-height: 35px;
  margin: 0 30px;
}

.wrapper__all .wrapper__header .menu ul .item--menu a {
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
}

.wrapper__all .wrapper__header .menu ul .item--menu a:hover {
  color: #fec54e;
}

.wrapper__all .wrapper__header .nav--mobile {
  width: 100%;
  background-color: #121618;
  color: #fff;
  display: none;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__header .nav--mobile {
    display: block;
  }
}

.wrapper__all .wrapper__header .nav--mobile .up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__all .wrapper__header .nav--mobile .up span {
  width: 90%;
  line-height: 50px;
  padding-left: 15px;
  text-align: left;
  text-transform: uppercase;
}

.wrapper__all .wrapper__header .nav--mobile .up i {
  width: 10%;
  line-height: 50px;
  padding-right: 15px;
  text-align: right;
  cursor: pointer;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar {
  display: none;
  width: 100%;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar li a:hover {
  color: #fec54e;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item {
  line-height: 50px;
  border-top: 1px solid #414141;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .up-main {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .up-main a {
  width: calc(100%-49px);
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .up-main span {
  width: 50px;
  height: 50px;
  border-left: 1px solid #414141;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .up-main span:after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 22px;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .up-main span.activeSpanMain:after {
  content: "-";
  font-size: 32px;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu {
  display: none;
  width: 100%;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu .main-product {
  line-height: 50px;
  border-top: 1px solid #414141;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu .main-product .up-sub {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu .main-product .up-sub a {
  width: calc(100%-49px);
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu .main-product .up-sub span {
  width: 50px;
  height: 50px;
  border-left: 1px solid #414141;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu .main-product .up-sub span:after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 22px;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu .main-product .up-sub span.activeSpanSub:after {
  content: "-";
  font-size: 32px;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu .main-product .sub-menu {
  display: none;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu .main-product .sub-menu .sub-product {
  line-height: 50px;
  border-top: 1px solid #414141;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu .main-product .sub-menu .sub-product a {
  padding-left: 30px;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu .main-product .sub-menu.activeSub {
  display: block;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar .m__item .main-menu.activeMain {
  display: block;
}

.wrapper__all .wrapper__header .nav--mobile .nav-bar.active {
  display: block;
}

.wrapper__all .wrapper__banner {
  position: relative;
}

.wrapper__all .wrapper__banner .owl-theme .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__banner .owl-theme .owl-dots {
    width: 20px;
    left: 15px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.wrapper__all .wrapper__banner .owl-theme .owl-dots .owl-dot {
  outline: none;
}

.wrapper__all .wrapper__banner .owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 7px #121618;
          box-shadow: 0 0 7px #121618;
}

.wrapper__all .wrapper__banner .owl-theme .owl-dots .owl-dot span:hover {
  background-color: #fec54e;
}

.wrapper__all .wrapper__banner .owl-theme .owl-dots .owl-dot.active span {
  background-color: #fec54e;
}

.wrapper__all .wrapper__main {
  width: 100%;
}

.wrapper__all .wrapper__main .about-us {
  width: 100%;
  background-image: url(../images/back_2.png);
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .about-us {
    background-repeat: inherit;
  }
}

.wrapper__all .wrapper__main .about-us .about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .about-us .about__content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.wrapper__all .wrapper__main .about-us .about__content .box--about {
  width: 315px;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .about-us .about__content .box--about {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .about-us .about__content .box--about:last-child {
    padding-bottom: 50px;
  }
}

.wrapper__all .wrapper__main .about-us .about__content .box--about .image {
  width: 95px;
  margin: auto;
}

.wrapper__all .wrapper__main .about-us .about__content .box--about .image img {
  width: 100%;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .about-us .about__content .box--about .image {
    width: 105px;
  }
}

.wrapper__all .wrapper__main .about-us .about__content .box--about .title-about {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  font-family: "Dancing Script", cursive;
  margin-top: 20px;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .about-us .about__content .box--about .title-about {
    font-size: 22px;
  }
}

.wrapper__all .wrapper__main .about-us .about__content .box--about .info {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .about-us .about__content .box--about .info {
    font-size: 15px;
  }
}

.wrapper__all .wrapper__main .prodducts-us {
  width: 100%;
  background: url(../images/slide_1.jpg) no-repeat;
  background-attachment: fixed;
}

.wrapper__all .wrapper__main .prodducts-us .filter {
  width: 100%;
  text-align: center;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .prodducts-us .filter {
    padding: 0 15px;
  }
}

.wrapper__all .wrapper__main .prodducts-us .filter .filter-item {
  display: inline-block;
  margin: 0 20px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper__all .wrapper__main .prodducts-us .filter .filter-item.active {
  color: #fec54e;
}

.wrapper__all .wrapper__main .prodducts-us .product-items {
  margin-top: 20px;
}

.wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box {
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }
}

.wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item .image {
  width: 156px;
  margin: auto;
  border-radius: 50%;
  border: 8px solid #fec54e;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item .image {
    width: 100%;
    border: 3px solid #fec54e;
  }
}

.wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item .image a {
  display: block;
}

.wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item .image a img {
  width: 100%;
}

.wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item .info {
  margin-top: 10px;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item .info {
    margin-top: 20px;
  }
}

.wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item .info a {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-family: "Dancing Script", cursive;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item .info a {
    font-size: 22px;
  }
}

.wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item .info p {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .prodducts-us .product-items .product-item .box .item .info p {
    font-size: 16px;
  }
}

.wrapper__all .wrapper__main .ads {
  width: 100%;
  background: url(../images/back_3.jpg) center no-repeat;
}

.wrapper__all .wrapper__main .ads .ads__content {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .ads .ads__content {
    padding: 20px 0;
  }
}

.wrapper__all .wrapper__main .ads .ads__content .image {
  width: 30%;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .ads .ads__content .image {
    width: 55%;
    margin: auto;
  }
}

.wrapper__all .wrapper__main .ads .ads__content .image img {
  width: 100%;
}

.wrapper__all .wrapper__main .ads .ads__content .content {
  width: 35%;
  text-align: center;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .ads .ads__content .content {
    width: 100%;
    padding: 0 15px;
  }
}

.wrapper__all .wrapper__main .ads .ads__content .content .info {
  line-height: 2;
  padding: 0 20px;
  color: #414141;
  font-size: 14px;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .ads .ads__content .content .info {
    font-size: 16px;
  }
}

.wrapper__all .wrapper__main .ads .ads__content .content .social-network {
  margin-top: 20px;
}

.wrapper__all .wrapper__main .ads .ads__content .content .social-network ul li {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  margin: 0 7px;
  border-radius: 50%;
  background-color: #fff;
  color: #222;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.wrapper__all .wrapper__main .ads .ads__content .content .social-network ul li:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.wrapper__all .wrapper__main .customer {
  width: 100%;
  background: url(../images/slide_1.jpg) no-repeat;
  background-attachment: fixed;
}

.wrapper__all .wrapper__main .customer .custommer__content .custommer-item {
  text-align: center;
  margin: 30px 0;
}

.wrapper__all .wrapper__main .customer .custommer__content .custommer-item .image {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fec54e;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .customer .custommer__content .custommer-item .image {
    width: 100px;
    height: 100px;
  }
}

.wrapper__all .wrapper__main .customer .custommer__content .custommer-item .image img {
  width: 100%;
}

.wrapper__all .wrapper__main .customer .custommer__content .custommer-item h5 {
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
}

.wrapper__all .wrapper__main .customer .custommer__content .custommer-item p {
  width: 80%;
  margin: auto;
  margin-top: 7px;
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__main .customer .custommer__content .custommer-item p {
    font-size: 16px;
    font-weight: 300;
  }
}

.wrapper__all .wrapper__footer {
  width: 100%;
  background: url(../images/slide_1.jpg) no-repeat;
  background-color: rgba(254, 197, 78, 0.55);
  background-blend-mode: lighten;
  padding-top: 30px;
}

.wrapper__all .wrapper__footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__footer .footer__content {
    padding: 0 15px;
  }
}

.wrapper__all .wrapper__footer .footer__content h5 {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.wrapper__all .wrapper__footer .footer__content ul {
  margin-top: 15px;
}

.wrapper__all .wrapper__footer .footer__content ul li {
  line-height: 25px;
}

.wrapper__all .wrapper__footer .footer__content ul li a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrapper__all .wrapper__footer .footer__content ul li a:hover {
  color: #222;
}

.wrapper__all .wrapper__footer .footer__content .consultant {
  width: 30%;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__footer .footer__content .consultant {
    width: 100%;
  }
}

.wrapper__all .wrapper__footer .footer__content .consultant ul li span {
  padding-left: 10px;
}

.wrapper__all .wrapper__footer .footer__content .menu {
  width: 15%;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__footer .footer__content .menu {
    width: 35%;
    margin-top: 15px;
  }
}

.wrapper__all .wrapper__footer .footer__content .menu ul {
  list-style: disc;
  padding-left: 16px;
}

.wrapper__all .wrapper__footer .footer__content .help {
  width: 25%;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__footer .footer__content .help {
    width: 60%;
    margin-top: 15px;
  }
}

.wrapper__all .wrapper__footer .footer__content .help ul {
  list-style: disc;
  padding-left: 16px;
}

.wrapper__all .wrapper__footer .footer__content .map {
  width: 30%;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__footer .footer__content .map {
    width: 100%;
    margin-top: 15px;
  }
}

.wrapper__all .wrapper__footer .footer__content .map iframe {
  margin-top: 15px;
}

@media (min-width: 0) and (max-width: 576px) {
  .wrapper__all .wrapper__footer .footer__content .map iframe {
    width: 100%;
  }
}

.wrapper__all .wrapper__footer .footer-sign {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  background-color: #121618;
  color: #fff;
  line-height: 50px;
}

.wrapper__all .scroll-top {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #121618;
  color: #fec54e;
  -webkit-box-shadow: 2px 3px 7px #121618;
          box-shadow: 2px 3px 7px #121618;
  border-radius: 5px;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  opacity: 1;
  visibility: inherit;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrapper__all .scroll-top.active {
  opacity: 0;
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */