* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*add general css*/
body {
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style-type: none;
}

img {
	display: block;
}

a {
	color: #333;
	text-decoration: none;
	display: inline-block;
}
/*add header css*/
.container	{
	width: 100%;
}
.row__header {
	width: 1175px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
	padding-top: 5px;
}

.row__header .logo {
	width: 30%;
}

.row__header .menu {
	width: 70%;
	text-align: right;
}

.menu .menu__item {
	display: inline;
	margin-left: 30px;
	text-transform: capitalize;
}

.menu .menu__item a {
	font-size: 19px;
	padding: 45px 0;
	font-weight: bold;
}

.menu .menu__item a:hover {
	color: #136ebf;
}

/*add banner css*/
.row__banner {
	width: 1175px;
	padding: 20px 25px 0 25px;
	background-image: url(../images/bg-banner.png);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.row__banner .banner__left {
	width: 40%;
}

.row__banner .banner__image {
	width: 30%;
}

.row__banner .banner__right {
	width: 40%;
	text-align: right;
}

.row__banner .banner__title {
	font-size: 25px;
	color: #fff;
}

.row__banner .banner__content {
	font-size: 12px;
	margin-top: 5px;
	line-height: 25px;
	color: #fff;
}

.row__banner .banner__btn {
	margin-top: 15px;
	padding: 10px 22px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 50px;
	display: inline-block;
	box-shadow: 0 5px #024886;
}

.banner__btn.left {
	background-color: #136ebf;
	color: #fff;
}

.banner__btn.right {
	background-color: #fff;
	color: #136ebf;
}

/*add row__search css*/
.row__search {
	width: 1175px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:  #136ebf;
	padding: 20px 25px;
}

.row__search .search__title {
	width: 70%;
	color: #fff;
	font-size: 16px;
}

.row__search .search__email {
	width: 30%;
    position: relative;
    padding-left: 27px;
}

.search__email input {
	border: none;
	font-family: inherit;
	padding: 10px 10px 10px 10px;
	width: 100%;
	border-radius: 40px;
}

.search__email button {
	border: none;
	background: none;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.search__email button i {
	font-size: 20px;
}

/*add row__main css*/
.row__main {
	width: 1175px;
	margin: auto;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

/*add css row__main__left*/
.row__main .main__left {
	width: 840px;
}

.title {
	font-size: 20px;
	padding-left: 10px;
	padding-bottom: 8px;
	display: inline-block;
	border-left: 15px solid #136ebf;
	border-bottom: 2px solid #136ebf;
	text-transform: capitalize;
}

/*add content upper*/
.main__left .content__up {
	width: 840px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.main__left .content__up .up__box {
	margin-top: 30px;
	width: 260px;
}

.up__box a {
	display: inline-block;
}

.up__box .box__info {
	text-align: center;
	margin-top: 5px;
}

.up__box .box__title {
	font-size: 20px;
	text-transform: uppercase;
	color: #333;
}

.up__box .box__price {
	font-size: 16px;
	font-weight: bold;
}

.box__view {
	padding: 5px 30px;
	font-size: 14px;
	background-color: #136ebf;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	margin-top: 5px;
	transition: 0.3s;
}

.box__view:hover {
	color: #414141;
	background: #0BDEF7;
	font-weight: bold;
}
/*add content middle*/
.content__middle {
	width: 840px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.content__middle .middle__box{
	width: 45%;
	margin-top: 30px;
}

.content__middle .middle__box .image--md {
	float: left;
	margin-right: 18px;
}

.middle__box .box__price--md {
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
}
/*add content__down css*/
.content__down {
	width: 840px;
	margin-bottom: 30px;
}

.content__down .down__box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.content__down .down__box .image--do {
	width: 300px;
}

.content__down .down__box .box__info--do {
	width: 510px;
}

.box__info--do .box__title--do {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

.box__info--do .box__title--do:hover {
	color: #136ebf;
}

.box__info--do .box__time--do {
	margin-top: 15px;
	color: #aaa;
	font-size: 14px;
}

.box__info--do p:last-child {
	font-size: 13px;
	margin-top: 20px;
}
/*add css row_main right*/
.row__main .main__right {
	width: 300px;
}

.row__main .main__right img {
	margin-bottom: 30px;
}

.row__main .main__right img:last-child {
	margin-bottom: 0;
}

/*add footer css*/
.row__footer {
	width: 100%;
	background-color: #136ebf;
}

.row__footer .footer__box {
	width: 1175px;
	margin: auto;
	padding: 30px 60px;
}

.row__footer .footer__box .row--1 {
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer__logo {
	width: 272px;
}

.row__footer .footer__box .footer__info {
	margin-top: 20px;
	text-align:center;
	font-size: 12px;
	color: #fff;
}