body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
.wrapper {
    display: flex;
    width: 900px;
    margin: auto;
    header, main {
        width: 400px;
        height: 120px;
    }
    header {
        ul {
            .item {
                margin: 10px 0;
                background-color: orange;
                color: #fff;
                padding: 5px 10px;
                cursor: pointer;
                &:hover {
                    background-color: green;
                }
            }
            .active {
                background-color: green;
            }
        }
    }
    main {
        background-color: blue;
        ul {
            .item1 {
                display: none;
                color: #fff;
            }
            .active1 {
                display: block;
            }
        }
    }
}
